{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav me-auto">
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home' %}">HOTEL</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'preference' %}">Preference</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'reservation' %}">Reservation</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                                </li>



                                <li class="nav-item">
                                    <a class="nav-link" href="{%url 'login' %}">Login</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{%url 'logout' %}">Logout</a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src={{details.profile_pic.url}} alt="avatar" class="rounded-circle img-fluid"
                            style="width: 150px;">
                        <h5 class="my-3">{{details.firstname}} {{details.lastname}}</h5>

                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{details.firstname}} {{details.lastname}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{details.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{details.phone_number}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">D.O.B</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{details.birth_date}}</p>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body p-md-5 mx-md-4 ">
                        <form method="POST" action="">
                            {% csrf_token %}

                            <div class="form-outline mb-4">
                                {{form.email}}
                                <label class="form-label" for="email">Email</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="password" class="form-control" name="password" />
                                <label class="form-label" for="email">password</label>
                            </div>
                            <div class="form-outline mb-4">
                                {{form.firstname}}
                                <label class="form-label" for="email">firstname</label>
                            </div>

                            <div class="form-outline mb-4">
                                {{form.lastname}}
                                <label class="form-label" for="password">lastname</label>
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                    type="submit">Update</button>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>